.items {
  width: 300px;
  overflow-x: scroll;
  white-space: nowrap;
  border: 1px solid #000;
  cursor: grab;
}

.item {
  display: inline-block;
  width: 150px;
  height: 100px;
  background: #4caf50;
  margin-right: 10px;
}




