
body {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.container {
    width: 400px;
    height: 400px;
    border: 2px solid #333;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
}

.cube {
    width: 70px;
    height: 70px;
    background-color: steelblue;
    cursor: grab;
    position: absolute;
}
