.items {
    width: 400px;
    height: 120px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    border: 2px solid black;
    cursor: grab;
}

.item {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-right: 10px;
    background-color: steelblue;
}


